{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block cont %}
<div class="row">
    {% for pro in product %}
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{pro.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pro.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
               <a href="{% url 'feedback_form:feedback' %}">Feedback form</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
</body>
</html>